<table>
<tr>
	<td>
		<div id="imagen"><img src="/images/javi.jpg"></div>
	</td>
	<td>
		<div id="autor">
			<strong>
			<p>Creador:</p>    
			<p><text class="ResaltaAzul">Javier Puig</text></p><br>
			<p>Patrocinador:</p>
			<p><text class="ResaltaAzul"> miríadaX</></text></p></text>
			</strong>
		</div>
	</td>
</tr>
</table>