<label for="preg" class="rem"><strong>Pregunta:</strong></label>
<input type="text" style="color:blue" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p><br />
<label for="resp" class="rem"><strong>Respuesta:</strong></label>
<input type="text" style="color:blue" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p><br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
