<label for="preg" class="rem"><strong>Pregunta:</strong></label>
<input type="text" class="ResaltaAzul" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><p><br />
<label for="resp" class="rem"><strong>Respuesta:</strong></label>
<input type="text" class="ResaltaAzul" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><p><br />
<label for="tema" class="rem"><strong>Tema:</strong></label>
<select name="quiz[tema]" class="ResaltaVerde">
  <option value="otro" <% if (quiz.tema === 'otro') { %> selected <% } %>>Otro</option>
  <option value="humanidades" <% if (quiz.tema === 'humanidades') { %> selected <% } %>>Humanidades</option>
  <option value="ocio" <% if (quiz.tema === 'ocio') { %> selected <% } %>>Ocio</option>
  <option value="ciencia" <% if (quiz.tema === 'ciencia') { %> selected <% } %>>Ciencia</option>
  <option value="tecnologia" <% if (quiz.tema === 'tecnologia') { %> selected <% } %>>Tecnología</option>
</select><p><br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">