<form method="get" action="/quizes/answer">
	<strong>Pregunta: 
    <text style="color:blue"><%= pregunta %><p><br /></text></strong> 
     <input type="text" name="respuesta" value="Responda aquí"/>
     <input type="submit" value="Enviar"></p>
</form>