<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<strong>Pregunta: 
	<text style="color:blue"><%= quiz.pregunta %> <p><br /></text></strong> 
	<input type="text" style="color:blue" name="respuesta" value=""Responda aquí"">
	<input type="submit" value="Enviar"></p>
</form>